*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h4,
h4,
p,
ul {
  margin: 0;
}

a {
  color: rgb(255, 187, 0);
  text-decoration: none;
}
