@font-face {
  font-family: "FiraCode-Regular";
  src: url("../../assets/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode-Bold";
  src: url("../../assets/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
