*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h4,
h4,
p,
ul {
  margin: 0;
}

a {
  color: rgb(255, 187, 0);
  text-decoration: none;
}

@font-face {
  font-family: "FiraCode-Regular";
  src: url("../../assets/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "FiraCode-Bold";
  src: url("../../assets/fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.music-player-body {
  display: flex;
  font-family: FiraCode-Regular;
  padding: 1.5rem;
  background-color: black;
  color: rgb(255, 187, 0);
  height: 100vh;
  text-align: center;
  overflow-y: auto;
}

.music-player-header {
  text-align: left;
  position: sticky;
  top: 2rem;
}
.music-player-header__h1 {
  font-family: FiraCode-Bold;
  cursor: pointer;
}
.music-player-header__h1:hover {
  text-decoration: none;
}
.music-player-header__nav {
  padding: 1.5rem 0 0 0;
  color: hsl(44, 100%, 50%);
}
.music-player-header__nav-li {
  margin-left: -2.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
  font-size: 1rem;
}
.music-player-header__nav-li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.music-player-main {
  display: none;
  overflow-y: auto;
  flex-grow: 1;
}
.music-player-main__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding-bottom: 4rem;
}
.music-player-main__header {
  font-family: FiraCode-Bold;
  margin-bottom: 1rem;
}
.music-player-main__scroll {
  font-style: italic;
  margin-top: 1.5rem;
}
.music-player-main__scroll:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.container {
  width: 37rem;
  min-height: 30rem;
  color: hsl(44, 100%, 50%);
  margin: 0 auto 0 auto;
  padding: 2rem;
  border: 4px solid hsl(44, 100%, 50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.ascii {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-left: -7rem;
}

.playlist-title {
  margin-bottom: 1rem;
  font-family: FiraCode-Bold;
}

.previous,
.play,
.pause,
.next,
.shuffle {
  background-color: #221800;
  border: none;
  width: 3rem;
  height: 3rem;
}

.previous:hover,
.play:hover,
.pause:hover,
.next:hover,
.shuffle:hover {
  background-color: #976f00;
  border: none;
  width: 3rem;
}

.player-buttons {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #221800;
  margin-bottom: 2rem;
  display: block;
}

#shuffle {
  padding: 0;
  margin: 0 0 0 -0.5rem;
}

.playlist-song-delete {
  background-color: black;
  border: none;
  cursor: pointer;
}

.playlist-song-delete:hover .circle {
  fill: #976f00;
}

.playlist-song:hover {
  background-color: #221800;
}

.playlist-songs {
  padding: 0;
  text-align: left;
}

.playlist-song {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  width: 31rem;
  border-radius: 5px;
}

.playlist-song:hover .playlist-song-info {
  background-color: #221800;
  cursor: pointer;
}

.playlist-song-info {
  background-color: black;
  color: hsl(44, 100%, 50%);
  font-family: FiraCode-Regular;
  border: none;
  width: 92%;
  text-align: left;
}

.playlist-song-title {
  display: flex;
  width: 30rem;
  font-family: FiraCode-Bold;
}

#player-song-title {
  margin-bottom: 0.3rem;
}

#player-song-artist {
  font-family: FiraCode-Regular;
}

.playlist-song-duration {
  font-style: italic;
}

.circle:hover {
  background-color: red;
}

.song-and-delete-btn {
  display: flex;
  justify-content: space-between;
}

.player-display-song-artist {
  font-family: FiraCode-Bold;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0rem;
}

.player-display {
  position: relative;
  z-index: 1;
  margin: 6.5rem auto 0rem auto;
  display: flex;
  justify-content: center;
}

.music-player-info-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.music-player-info {
  width: 40rem;
  max-height: 40rem;
  background-color: black;
  color: hsl(44, 100%, 50%);
  margin: 0 auto 0 auto;
  padding: 2rem;
  border: 4px solid hsl(44, 100%, 50%);
  border-radius: 10px;
  text-align: left;
}
.music-player-info__header {
  font-family: FiraCode-Bold;
  margin-bottom: 1rem;
}
.music-player-info__li {
  margin-bottom: 1rem;
}
.music-player-info__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.music-player-info__scroll-info {
  margin-top: 1.5rem;
  font-style: italic;
}
.music-player-info__scroll-info:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

#reset {
  background-color: hsl(44, 100%, 50%);
  height: 2rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  font-family: FiraCode-Regular;
  margin-right: 1rem;
  margin-left: 11rem;
}

#reset:hover {
  background-color: black;
  border: 2px solid hsl(44, 100%, 50%);
  color: hsl(44, 100%, 50%);
  height: 2rem;
  min-width: 5.5rem;
  border-radius: 5px;
  font-family: FiraCode-Regular;
  margin-right: 0.8rem;
}/*# sourceMappingURL=music-player.css.map */